/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */


html {
  font-family: 'Futura','Trebuchet MS','Arial',sans-serif; 
  font-size: 1.25em; /* 20/16 = 1.25*/
  line-height: 1.2em /* 24 / 20 = 1.2em */
}

body {
    margin: 0;
    padding: 0;
}

h1 {
  text-align: center; /* 83 / 20 = 4.15em */
  padding-top: 40px;
  font-size: 1.75em; /* 35 / 20 = 1.75em */
  font-weight: 600;
  color: #C6263D;
  opacity: .90;
}

.chicago {
  position: relative;
}

.chicago:before,
.chicago: after {
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
}

.chicago-background {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.iit-logo {
  width: 50%;
  height: 50%;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 3.75em; /* 75 / 20 = 3.75em */
  left: 8.5em; /*170 / 20 = 8.5em */
}

/*
==================================
Finance Page
==================================
*/

#content {
  font-family: 'Arial';
  font-size: 0.9em; /*18 / 20 = 0.9 */
  line-height: 1.27778em; /*23 / 20 = 1.277*/
}
section {
  position: relative;
}
.main-content > ol {
  display: flex;
  justify-content: space-between;
}

.main-content > ol > li {
    flex: 0 1 45%;
    padding: 0;
}

input[type=checkbox] {
   width: 100%;
   height: 100%;
   opacity: 0;
}


.title-label {
  cursor: pointer;
  position: relative;
  display: block;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.subprimary-content {
  font-weight: bold;
}

.title-label:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 10px;
  border-left: 8px solid black;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  margin-top: -2px;
}


input[type=checkbox]:checked ~ h3 label:before {
  border-left: 0.5em solid transparent;
  border-top: 0.5em solid black;
  border-right: 0.5em solid transparent;
  margin-left: -0.25em
  margin-top: -0.25em;
}


.content-title {
  max-height: 0;
  display: none;
  padding-left: 30px;
  transition: max-height 0.4s ease;
}

.main-content ol {
  background: rgb(242, 242, 242);
}
input[type=checkbox]:checked ~ h3 ~ ol li {
  margin-left: 10px;
  margin-top: 10px;
  display:block;
  max-height: 200px;
} 

h3 .title-label {
  box-shadow:0px 1px 3px rgba(0,0,0,0.25);
  background:#f7f7f7;
}

/*
End of Finanace page
*/

#IITLogin {
  padding-left: 100px;
  padding-bottom: 42px;
  margin: 0 auto;
  width: 300px;
}

#username {
  padding-top: 50px;
  padding-bottom: 35px;
}

#name-field {
  height: 25px;
  width: 200px;
  border: 3px solid #A9A9A9;
  padding: 4px 7px;
  border-radius: 6px;
}

#password {
  padding-bottom: 23px;
}

#password-field {
  height: 25px;
  width: 200px;
  border: 3px solid #A9A9A9;
  padding: 4px 7px;
  border-radius: 6px;
}

#submit {
  padding-left: 80px;
}

#submit-button {
  height: 30px;
  width: 30px;
  opacity: 0.8;
  padding: 4px 7px;
  background-color: #FFFFFF;
}

.social-media {
  text-align: center;
  width: 200px;
  height: auto;
  padding-left: 88px;
}

.social-media-icons {
    margin: 0 auto;
    width: 360px;
    padding-bottom: 15px;
}

.login-links {
  display: inline-flex;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: lighter;
  background-color: #C6263D;
  opacity: 0.9;
  margin: 0 auto;
  width: 100%;
  
}

a {
  text-decoration: none;
  color: #FFF;
}

.alert {
  
  padding-left: 45px;
  color: white;
  margin: 0 auto; 
}

.help {

  margin: 0 auto;
}

.policy {
    margin: 0 auto;
}

.submit-label {
  padding-left: 77px;
  color: #45A148;
  opacity: 0.8;
  font-size: 18px;
}

